body {
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    background-color: #eeeeee;
}

header {
    box-sizing: border-box;
    background-color: #c7c7c7;
    display: flex;
    margin: 0 1rem;
    gap: 1rem;
}
.logo {
    width: 20%;
    padding: 1rem;
    text-align: start;
}
.navigation {
    width: 80%;
    padding: 1rem;
    text-align: end; 
}

.banner, .intro-text {
    display: flex;
    background-color: #c7c7c7;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    padding: 1rem;
    gap: 1rem;
}

.box-container {
    margin: 1rem 1rem;
    display: flex;
    min-height: 100px;
    gap: 1rem;
    justify-content: space-between;
}
.box {
    background-color: #c7c7c7;
    flex-basis: calc((100% - 2rem) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #c7c7c7;
    text-align: center;
    padding: 1rem;
    margin: 0 1rem;
}